<nav class="mobile-bottom-nav">
    <a href="#" class="nav-item active" data-tab="overview">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </a>
    <a href="#" class="nav-item" data-tab="chat">
        <i class="fas fa-comments"></i>
        <span>Chat</span>
    </a>
    <a href="#" class="nav-item" data-tab="exclusive">
        <i class="fas fa-star"></i>
        <span>Content</span>
    </a>
    <a href="#" class="nav-item" data-tab="insights">
        <i class="fas fa-chart-line"></i>
        <span>Stats</span>
    </a>
    <a href="#" class="nav-item" data-tab="more">
        <i class="fas fa-ellipsis-h"></i>
        <span>More</span>
    </a>
    <a href="#" class="nav-item" data-tab="announcements">
        <i class="fas fa-bullhorn"></i>
        <span>Announcements</span>
    </a>
</nav> 